[submodule "nestjs-microservice"]
	path = services/nestjs-microservice
	url = https://github.com/CuTrung/nestjs-microservice
[submodule "nestjs-microservice-2"]
	path = services/nestjs-microservice-2
	url = https://github.com/CuTrung/nestjs-microservice-2
